players/*
worlds/*
plugin_configs/*
plugins/*
bin*/*
timings/*
crash_dumps/*
*.log
*.txt
*.phar
aldous.properties
/aldous.yml
/game_settings.yml
memory_dumps/*
resource_packs/
maps/*

# [Ignore] Common IDEs.
.idea/
nbproject/*

# [Ignore] Windows Image Caches.
Thumbs.db

# [Ignore] Folder Configuration.
Desktop.ini

# [Ignore] Mac.
.DS_Store
/nbproject/private/

# [Ignore] Sphinx (Documents).
/docs/build/
!/docs/requirements.txt

# [Ignore] Composer.
vendor/*

# [Ignore] Travis.
test_data/*
